.containerMaps{
  border-radius: 15px;
   display: flex;
   margin-top: 70px;
   margin-left: 50px;
    max-height: 550px;
    max-width: 550px;
    
}

.containerUb{
    margin-top: 20px;
    margin-right: 23px;
    height: 70px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 190px;
    font-weight: 700;
    background-color: #313045;
   font-size: 23px;
   color: #707070;
   text-align: left;
   padding: 4px;
}

.containerM{
    background-color: #313045;
    border-radius: 10px;
    padding: 5px;
}