.sidebar {
  position: absolute;
  left: 0;
  height: 100%;
  width: 25%;
  background-color: #313045;
  color: #fff;
  padding-top: 30px;
}
.sidebar.hidden {
  display: none;
}

.user {
  padding: 0.2rem;
  border-bottom: 1px solid #555;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}
.options li {
  padding: 0.5rem;
  cursor: pointer;
}

.buttonDelete {
  font-size: 0.67rem;
  width: 10vw;
}
