.dashboardContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.sidebar {
  left: 0;
  height: 100%;
  width: 25%;
  background-color: #313045;
  color: #fff;
  padding-top: 30px;
}
.sidebar.hidden {
  display: none;
}

.marketingContent {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 75%; /* El ancho debe ser el complemento del ancho del sidebar */
  padding: 20px;
  background-color: #ffffff;
}

/* comment */
.user {
  padding: 0.2rem;
  border-bottom: 1px solid #555; /* Línea separadora entre el logotipo y el nombre de usuario */
  margin-bottom: 1rem;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}
.options li {
  padding: 0.5rem;
  cursor: pointer;
}

.buttonDelete {
  font-size: 0.67rem;
  width: 15vw;
  height: 2.3rem;
  font-size: 1rem;
  text-transform: uppercase;
}