
.containerAll{
    position: relative;
    width: 99%;
    margin-right: 0.16%;
}

.containerDishes{
    position: relative;
    width: 99%;
    height: 100%;
    border-top: 7px solid #FBC32C;
    border-radius: 1vh;
    border-bottom: 1px solid var(--gray);
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray) ;
}

.contUserM{
    position: relative;
    width: 99%;
     border-top: 7px solid #FBC32C;
    border-radius: 1vh;
    border-bottom: 1px solid var(--gray);
    border-left: 1px solid var(--gray);
    border-right: 1px solid var(--gray) ;

}
.contImg{
border-radius: 50%;
max-width: 50px;
max-height: 50px;
background-color: var(--gray);
}

.contPag{
    display: flex;
    justify-content: left;
    list-style: none;
    gap: 11px;
}

.page{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: rgb(247, 244, 242);
    height: 50px;
    background-color: #FBC32C;
    width: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.page:hover{
    background-color: #f6f5f4;
    color: rgb(6, 6, 6);
}
.contMostSelled{
    width: 40%;
    height: 190px;
    position: relative;
    justify-self: right;
    border-radius: 1vh;
    border-top: 7px solid #FBC32C;
    border-right: 1px solid var(--gray) ;
}
.contTitle{
    background-color: #f6f5f4 ;
    border-radius: 1vh;
    border: 1px solid var(--gray);
}

