.containerProfile {
  display: grid;
  grid-template-columns: 1fr 2fr; /* La parte izquierda ocupa 1 fracción y la derecha ocupa 2 fracciones */
  gap: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  max-width: 80%;
  margin: 2rem auto;
}

.imgContainer {
  display: flex;
  justify-content: center;
}

.image {
  width: 50%;
  border-radius: 50%;
  margin: 10%;
}

.leftSide {
  text-align: center;
  border-right: 1px solid #ccc;
}

.rightSide {
  text-align: left;
}

.title {
  font-size: 24px;
  color: var(--main-color);
}

.subTitle {
  font-size: 18px;
  color: var(--background-darkblue);
}

.userContainer {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  color: var(--background-darkblue);
}

.info {
  display: block;
  margin-bottom: 5px;
  color: var(--background-darkblue);
}

.inputText {
  text-align: center;
  border: none;
  color: var(--background-darkblue);
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.submitButton {
  background-color: #313045;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.submitButton:hover {
  background-color: #fbc32c;
}

.upButton {
  margin-bottom: 10%;
  background-color: #313045;
  color: #fff;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.upButton:hover {
  background-color: #fbc32c;
}
