:root{
  --main-color: #FBC32C;
  /* opacity 75% */
  --main-color-75: #FBC32CBF;
  /* opacity 50% */
  --main-color-50: #FBC32C80;
  /* background color */
  --background-darkblue: #313045;
  /* texts or actions*/
  --primary-light: #fff;
  --primary-dark: #151819;
  --text-blue-light: #356ae6;
  --text-blue: #024bf5;


  --gray: #707070;

  --shadow: #313045B3;

  --button-hover-blue: #2D63E0;

  --positive: #34E64F;
  --negative: #D9343A;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
