.form {
  background-color: #313045;
  margin: 0 auto;
  margin-left: 150px;
  padding: 20px;
  margin-top: 90px;
  width: 350px;
}
.img {
  margin-bottom: 20px;
}

.label {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin-bottom: 5px;
}
.input {
  width: 290px;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
}
.button {
  width: 9vw;
  height: 3vw;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  justify-self: center;
  cursor: pointer;
}
.Password {
  font-size: 8px;
}
