.bg-color-blue {
    background-color: var(--background-darkblue);
    margin-left: -12px;
  }
  
  .color-register-b{
    color: var(--main-color);
  }
  
  .login-input {
    border-radius: 15px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
    padding: 10px;
    height: 32px;
    width: 350px;
  }
  
  .img-login-button{
    width: 50%;
    height: auto;
    padding-right: 5px;
  }
  
  .btn-login{
    width: 180px;
    height: 32px;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
   text-align: center;
    background-color:var(--main-color);
    border: none;
    cursor: pointer;
  }
  
  .btn-login:hover {
    background-color:var(--main-color-75);
  }
  
  
  
  
  
  .img-cover{
    object-fit: cover;
  }
  
  .btn-google-rounded {
    width: 350px;
    height: 60px;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color:#1D81CE;
    border: none;
    cursor: pointer;
  }
  .btn-face-rounded {
    width: 350px;
    height: 60px;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color:#3B5998;
    border: none;
    cursor: pointer;
  }
  
  .btn-face-rounded:hover {
    background-color:#3b5898a7;
  }
  
  
  .btn-google-rounded:hover {
    background-color:#1d81ceaa;
  }
  
  .error-message {
    font-size: 12px;
    margin-top: 3px;
  }
  
  .inputDistance{
  margin-top: 2px;
  }
  
  .buttonDistance{
    margin-top: 30px;
  }