.mainContainer {
    padding-top: 1rem;
    box-shadow: inset -1px 0 5px var(--shadow);
    height: calc(100vh - 112px);
    position: relative;
}

.buttonDropDown {
    position: absolute;
    right: -1rem;
    top: 1.2rem;
    border: none;
    background-color: #ffffff;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: .7px .7px 5px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 0;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.buttonDropDown:hover {
    background-color: var(--button-hover-blue);
    color: var(--primary-light);
}

.btnCollapsed {
    position: absolute;
    right: -3rem;
    top: 0;
    border: none;
    width: 2rem;
    height: 2rem;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: .7px .7px 5px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 0;
    cursor: pointer;
    transition: .3s ease-in-out;
    transform: rotateZ(-180deg);
    transform-origin: center;       
}

.btnCollapsed:hover {
    background-color: var(--button-hover-blue);
    color: var(--primary-light);
}

/* .btnCollapsed:hover + .text {
    display: block;
} */

.text {
    padding: 5px;
    opacity: 0;
    position: absolute;
    font-size: 0.8rem;
    font-weight: 400;
    width: 10rem;
    right: -14rem;
    color: var(--primary-dark);
    background-color: var(--main-color);
    border-radius: 3px;
    transition: .7s ease-in-out;
    font-weight: 400;
    text-transform: uppercase;
}

.btnCollapsed:hover + .text {
    opacity: 1;
}


.filteredContent {
    position: absolute;
    width: 15rem;
    height: calc(100vh - 112px);
    right: .5rem
}

.select {
    width: 80%;
    margin: 1rem auto;
    font-size: .8rem;
    padding: 0 0 .2rem .2rem;
}

.select option {
    padding: .4rem .2rem;
}

