.button {
  background-color: #313045;
  width: 400px;
  color: white;
  border: none;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
  margin: 1.5rem 5rem
}

  
  .button:hover {
    background-color:#FBC32C
  }

  .container {
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
    }
  }
  