.navbarLanding {
  background-color: #313045;
  height: 100px;
  width: 100%;
  align-items: center;
  border-bottom: 2px solid var(--main-color);
  padding: 0 1.5rem;
}

.cart {
  cursor: pointer;
  box-shadow: 1px 1px 5px var(--shadow);
}
.bg-countCart {
  background-color: #fbc32c;
  box-shadow: 1px 1px 5px var(--shadow);
}

 /* .padding-ingresar {
  transform: translateX(500px);
}  */

.img-width-logo {
  width: auto;
  height: 70px;
  }

.svg-width-menu {
  width: auto;
  height: 40px;
}


.img-width-cart {
  width: auto;
  height: 60px;
}

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 500px !important;
}

.seach-bar-nav {
  width: 500px !important;
  margin-left: 3rem;
  margin-top: .1rem;
}

.mi-input {
  border-radius: 5px 5px 8px 8px;
  border-bottom: none;
  padding-left: 20px;
  height: 55px;
  width: 500px !important;
  font-weight: 500;
}

.mi-input:focus {
  border-color: whitesmoke;
  padding-left: 20px;
}
/* 
.search-line {
  height: 1px;
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: 50%;
  z-index: -1;
} */

.search-icon {
  position: relative;
  margin-left: -60px; /* Ajusta este valor según sea necesario */
  padding: 8px 8px 6px 8px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border-left: 3px solid #0000006f;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  margin-right: 1rem;
}

.dropdown-button {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  background-color: #f9f9f9;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 8px 0;
  display: none;
}


.dropdown-container:hover .dropdown-menu {
  display: block;
}

.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f1f1f1;
}

.sign-in {
  width: 8rem;
  padding: .1rem .5rem;
  border-radius: 20px;
  transition: .5s ease-in-out;
  border-bottom: 2px solid transparent;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-in:hover {
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
}

.sign-in:hover .icon-login {
  color: var(--main-color);
}

.icon-login {
  margin-right: .5rem;
  transition: .5s ease-in-out;
}

.contSearchBarResults{
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  padding: 1%;
  border-radius: 10px;
  border: 1px solid #0000006f;
  max-width: 240px;
  width: 100%;
  max-height: 400px;
  background-color: #fff;
  top: 100%;
  z-index: 100;
}

.results{
  display: flex;
  text-decoration: none;
 font-weight: 600;
 margin-left: 3%;
  color: black;
  cursor: pointer;
  overflow: hidden;
}

.button-admin {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: .5rem !important;
  border-bottom: 2px solid transparent;
  padding: .1rem .7rem;
  border-radius: 20px;
  transition: .5s ease-in-out;
  transform: translateX(100%);
}

.button-admin:hover {
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color) !important;
}

.right-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 360px;
}

.go-home {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-light);
  gap: .5rem;
  font-size: 1.3rem;
  width: 9rem;
  padding: .1rem .5rem;
  border-radius: 20px;
  border-bottom: 2px solid transparent;
  transition: .5s ease-in-out;
}

.go-about {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-light);
  gap: .5rem;
  font-size: 1.3rem;
  width: 9rem;
  padding: .1rem .5rem;
  border-radius: 20px;
  border-bottom: 2px solid transparent;
  transition: .5s ease-in-out;
  position: absolute;
  left: -150px;
  top: 50%;
  transform: translateY(-54%);
}

.go-about a {
  text-decoration: none;
  color: var(--primary-light);
}

.go-home a {
  text-decoration: none;
  color: var(--primary-light);

}

.go-home:hover {
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color) !important;
}

.go-about:hover {
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color) !important;
}