.navbarLanding {
  background-color: #313045;
  height: 112px;
}

.bg-countCart {
  background-color: #fbc32c;
}

.padding-ingresar {
  margin-left: 500px;
}

.img-width-logo {
  width: auto;
  height: 70px;
  margin-right: 300px;
}
.svg-width-menu {
  width: auto;
  height: 40px;
}

.img-width-cart {
  width: auto;
  height: 70px;
}

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.mi-input {
  border-radius: 40px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
  padding-left: 20px;
  height: 60px;
  width: 600px;
}

.mi-input:focus {
  outline: none;
  border-color: whitesmoke;
  padding-left: 20px;
}

.search-line {
  height: 1px;
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: 50%;
  z-index: -1;
}

.search-icon {
  position: relative;
  margin-left: -60px; /* Ajusta este valor según sea necesario */
  padding: 8px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border-left: 3px solid #0000006f;
}
