.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding-top: .5rem !important;
}


.cardsContainer {
    margin: 1.5rem 0;
    width: 82vw;
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
}

.noResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:300px;
}