.cardsContainer {
    padding-top: 2rem;
    min-height: calc(100vh - 8rem - 112px);
    width: 82vw;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
}