.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}


.cardsContainer {
    margin: 1.5rem 0;
    min-height: calc(100vh - 8rem - 112px);
    width: 82vw;
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem;
}