.mainContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    background-color: var(--background-darkblue);
    color: var(--primary-light);
    width: 100vw;
    min-height: 100vh;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    text-decoration: none;
    color: var(--background-darkblue);
    background-color: var(--main-color);
    font-weight: 500;
}