.pageNavigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    margin-top: .5rem;
    background-color: var(--background-darkblue);
}

.navigationButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: var(--text-light);
    cursor: pointer;
    transition: .4s ease-in-out;
    font-weight: 700;
    font-size: 2rem;
    color: var(--primary-light);
}

.navigationButton:hover {
    color: var(--main-color);
}

.navigationButton.disabledButton {
    pointer-events: none;
    opacity: .7;
  }